WindowsForms/WindowsForms/Service References/BookServices/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookStoreService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookStoreService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBooks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Books" nillable="true" type="tns:Books" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooks" nillable="true" type="tns:ArrayOfBooks" />
  <xs:complexType name="Books">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Books" nillable="true" type="tns:Books" />
</xs:schema>